---
---

@import "minima";

/* Hide site header */
.site-header {
  display: none;
}

/* Center and style page title */
.page-heading,
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 2.6rem;
  margin-top: 50px;
}