---
---

@import "minima";

/* Center and style page title */
.page-heading {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 40px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 40px;
}